* {
    border: none;
    border-radius: 3px;
    font-family:  'Fantasque Sans Mono Nerd Font', 'JetBrains Mono Nerd Font';
    font-size: 16px;
    font-weight: 600;
}

window#waybar {
    background: transparent;
}

#workspaces,
#language,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#disk,
#mode,
#idle_inhibitor
{
    color: rgb(37, 38, 51);
    background: rgb(23, 77, 129);
    margin: 0px 3px;
    padding: 0px 10px;
}

#workspaces button {
    padding: 0px 10px;
    color: rgb(37, 38, 51);
    border-radius: 3px;
}

#workspaces button.focused {
    color: rgb(37, 38, 51);
    background-color: rgb(245, 98, 36);
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#network.disconnected,
#temperature.critical,
#pulseaudio.muted,
#battery.critical,
#idle_inhibitor.activated {
    background-color: rgb(245, 98, 36);
}
